:root {
    box-sizing: border-box;
}

*,
::before,
::after {
    box-sizing: inherit;
}

html {
    margin: 0;
}

body {
    margin: 0;
}

.header {
    height: 100vh;
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
}

.headerBG {
    position: absolute;
    background-image: url("images/Lake.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
    animation: fadeIn 6s forwards;
    -moz-filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale");
    -o-filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale");
    -webkit-filter: grayscale(100%);
    filter: gray;
    filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale");
    z-index: -1;
}

@keyframes fadeIn {
    0% {
        opacity: 0.15;
    }
    60% {
        opacity: 0.15;
    }
    100% {
        opacity: 1;
    }
}

.logo {
    display: flex;
    flex-direction: row;
    align-items: center; 
    justify-content: center;
    position: relative;
}

.logoLetter {
    font-size: 5rem;
    text-align: center;
    width: 5rem;
    height: 5rem;
    margin: 0.4rem;
    animation: bounceIn 3.5s forwards;
    transform: scale(0);
}

.logoLetter:nth-child(1) {
    animation-delay: 0.1s;
  }
  .logoLetter:nth-child(2) {
     animation-delay: 0.2s;
  }
  .logoLetter:nth-child(3) {
     animation-delay: 0.3s;
  }
  .logoLetter:nth-child(4) {
     animation-delay: 0.4s;
  }
  .logoLetter:nth-child(5) {
     animation-delay: 0.5s;
  }
  .logoLetter:nth-child(6) {
     animation-delay: 0.6s;
  }
  .logoLetter:nth-child(7) {
     animation-delay: 0.7s;
  }

  @keyframes bounceIn {
    0% {
      transform: scale(0)
    }
    25% {
      transform: scale(1.1) 
    }
    30% { 
      transform: scale(1)
    }
    60% {
      transform: scale(1) 
    }
    65% {
      transform: scale(1.2)
    }
    70% {
      transform: scale(1);
    }
    90% {
      transform: scale(1)
    }
    100% {
      transform: scale(0)
    }
  }

.arrowContainer {
    position: absolute;
    display: inline-block;
    vertical-align: middle;
    bottom: 5%;
    text-align: center;
}

.headerArrow {
    width: 4em;
    height: 4em;
    border: 0.4em solid white;
    border-radius: 50%;
}

.headerArrow:after {
    content: '';
    display: inline-block;
    margin-top: 20%;
    width: 1.4em;
    height: 1.4em;
    border-top: 0.5em solid white;
    border-right: 0.5em solid white;
    border-radius: 3px;
    opacity: 0.8;
    -moz-transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
    transform: rotate(135deg);
  }

.headerArrowRipple {
    position: absolute;
    top: 0%;
    width: 4em;
    height: 4em;
    border: 0.4em solid white;
    border-radius: 50%;
    animation: ripple 6s forwards;
    transform: scale(1);
}

@keyframes ripple {
    0% {
      transform: scale(1)
    }
    80% {
      transform: scale(1);
      opacity: 0.8;
    }
    99% {
      transform: scale(5);
      opacity: 0;
  }
    100% {
      transform: scale(0); 
      opacity: 0;
    }
}

.main {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    background-color: grey;
}

section {
    height: 90vh;
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.aboutMe {

}

.aboutMeIcon {

}

.skills {

}

.skillsIcon {
}

.interests {

}

.interestsIcon {
    
}

.icon {
    color: ghostwhite;
}

div:hover svg * {
    fill: url(#rg);
  }

.sectionLine {
    width: 3px;
    height: 20vh;
    background-color: ghostwhite;
    border-radius: 80%;
    opacity: 0.2;
}

footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 10vh;
    background-color: grey;
}

.footerLine {
    width: 70vw;
    height: 2px;
    background-color: ghostwhite;
    border-radius: 80%;
    opacity: 0.2;
    position: absolute;
}