:root {
    box-sizing: border-box;
}

*,
::before,
::after {
    box-sizing: inherit;
}

.header {
    width: 100vw;
    height: 100vh;
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
}

.headerBG {
    position: absolute;
    background-image: url("images/Lake.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
    animation: fadeIn 6s forwards;
    -moz-filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale");
    -o-filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale");
    -webkit-filter: grayscale(100%);
    filter: gray;
    filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale");
}

@keyframes fadeIn {
    0% {
        opacity: 0.15;
    }
    60% {
        opacity: 0.15;
    }
    100% {
        opacity: 1;
    }
}

.logo {
    display: flex;
    flex-direction: row;
    align-items: center; 
    justify-content: center;
    position: relative;
}

.logoLetter {
    font-size: 5rem;
    text-align: center;
    width: 5rem;
    height: 5rem;
    margin: 0.4rem;
    animation: bounceIn 3.5s forwards;
    transform: scale(0);
}

.logoLetter:nth-child(1) {
    animation-delay: 0.1s;
  }
  .logoLetter:nth-child(2) {
     animation-delay: 0.2s;
  }
  .logoLetter:nth-child(3) {
     animation-delay: 0.3s;
  }
  .logoLetter:nth-child(4) {
     animation-delay: 0.4s;
  }
  .logoLetter:nth-child(5) {
     animation-delay: 0.5s;
  }
  .logoLetter:nth-child(6) {
     animation-delay: 0.6s;
  }
  .logoLetter:nth-child(7) {
     animation-delay: 0.7s;
  }

  @keyframes bounceIn {
    0% {
      transform: scale(0)
    }
    25% {
      transform: scale(1.1) 
    }
    30% { 
      transform: scale(1)
    }
    60% {
      transform: scale(1) 
    }
    65% {
      transform: scale(1.2)
    }
    70% {
      transform: scale(1);
    }
    90% {
      transform: scale(1)
    }
    100% {
      transform: scale(0)
    }
  }

body {
    margin: 0;
}